<div id="<%= dom_id livre %>">
  <p>
    <strong>Titre:</strong>
    <%= livre.titre %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= livre.auteur %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= livre.resume %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= livre.date %>
  </p>

</div>
